{% extends "layout.html" %}

{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-sm-12">

{% if not exchange %}
<div class="jumbotron">

  <p class="text-center">
    <img class="img-responsive img-circle" src="{{ url_for('static', filename='img/stock-exchange.jpg') }}" alt="{{ config.SITE_NAME }}" style="display: inline-block">
  </p>

  <p class="lead text-center">
    What would have been the best stocks to invest in for a given period?
  </p>

</div><!-- /.jumbotron -->
{% endif %}{# not exchange #}

{% if exchanges %}
<form class="well form-inline" method="GET">

  <div class="form-group" style="margin-right: 20px">
    <label for="exchange-symbol">Exchange</label>
    <select name="exchange_symbol" id="exchange-symbol" class="form-control" style="width: 300px">

      <option value="">-----</option>
    {% for e in exchanges %}
      <option value="{{ e.exchange_symbol }}"{% if exchange and (e.exchange_symbol == exchange.exchange_symbol) %} selected="selected"{% endif %}>{{ e.title }} ({{ e.exchange_symbol }})</option>
    {% endfor %}{# e in exchanges #}
    </select>
  </div><!-- /.form-group -->

  <div class="form-group" style="margin-right: 20px">
    <label for="from-year">From year</label>
    <input type="text" name="from_year" id="from-year" class="form-control" value="{% if from_year %}{{ from_year }}{% endif %}" style="width: 100px">
  </div><!-- /.form-group -->

  <div class="form-group" style="margin-right: 20px">
    <label for="to-year">To year</label>
    <input type="text" name="to_year" id="to-year" class="form-control" value="{% if to_year %}{{ to_year }}{% endif %}" style="width: 100px">
  </div><!-- /.form-group -->

  <button type="submit" class="btn btn-primary">Get price changes</button>

</form>
{% endif %}{# exchanges #}

{% if exchange %}
<h2>{{ exchange.title }} ({{ exchange.exchange_symbol }})</h2>
{% endif %}{# exchange #}

{% if yeartoyear_price_percent_changes %}
<table class="table table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Company</th>
      <th>Sector</th>
      <th>Price in {{ from_year }}</th>
      <th>Price in {{ to_year }}</th>
      <th>Change</th>
    </tr>
  </thead>

  <tbody>
    {% for stock, industry_sector, avg_close_price_from, avg_close_price_to, price_change_percent in yeartoyear_price_percent_changes %}
    <tr>
      <td>{{ stock.ticker_symbol }}</td>
      <td>{{ stock.title }}</td>
      <td>{{ industry_sector.title }}</td>
      <td>${{ avg_close_price_from }}</td>
      <td>${{ avg_close_price_to }}</td>
      <td>{{ price_change_percent }}%</td>
    </tr>
    {% endfor %}{# stock, industry_sector, avg_close_price_from, avg_close_price_to, price_change_percent in yeartoyear_price_percent_changes #}
  </tbody>
</table>
{% endif %}{# yeartoyear_price_percent_changes #}

    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
